# Ignore swap and backup files
*.swp
*.swo
*~

# Ignore Lazy.nvim plugins and build artifacts
.configs/nvim/lazy-lock.json
.configs/nvim/.local/
.configs/nvim/undo/
.configs/nvim/backup/
.configs/nvim/session/

# Ignore your custom Lua module
.configs/nvim/lua/custom/

# Ignore Fish history
.configs/fish/fish_history

# Ignore all `.log` files anywhere
*.log
